@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #2B2922;
    font-family: 'Montserrat';
}

.nav-bar {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /* border: 2px solid red; */
}

.logo img {
    position: relative;
    left: 80px;
    width: 100px;
}

.list-items {
    display: flex;
    /* border: 2px solid green; */
    position: relative;
    left: 100px;
    width: 500px;
    justify-content: space-around;
    color: #94979a;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
}

.list-items .list-item:first-child {
    color: #F1F0EF;
}

.get-started-btn {
    background-color: #2B2922;
    border: 1px solid #A08F36;
    color: #A08F36;
    width: 115px;
    height: 35px;
    border-radius: 8px;
    font-weight: 700;
    position: relative;
    right: 150px
}

.text {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1F0EF;
    height: 150px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.heading {
    /* border: 2px solid lightcoral; */
    position: relative;
    width: 500px;
    font-size: 60px;
    right: 70px;
    /* margin-left: 50px; */
    
}

.descr {
    /* border: 2px solid lightgreen; */
    color: #a5a5a5;
    width: 350px;
    margin-left: 120px;
    font-size: 15px;
    line-height: 23px;
}

.main-image {
    /* border: 2px solid lightsalmon; */
    height: 20%;
}

.main-image img {
    /* color: red; */
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 46vh;
}
